{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Improving job standards Alpha prototypes</h1>

      <h2 class="heading-medium">Articles</h2>

      <p>
        <a href="https://medium.com/@charlesrt/setting-an-open-standard-for-job-postings-9e548f8fc9bd#.k7ooiq2us">
						Setting an open standard for job postings</a>
      </p>

			<h2 class="heading-medium">Prototypes</h2>

			<ul class="list list-bullet">
				<li><a href="/open-jobs/search">Search open jobs</a></li>
				<li>Publish a job as structured data</li>
        <li>Share labour market knowledge</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
